@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

/* VARIABLES */
header {
  background-color: #252424; }
  header .menu-header {
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "boton1 logoimg1 login1"; }
    header .menu-header .boton1, header .menu-header .logoimg {
      width: 100%; }
    header .menu-header .buscar {
      grid-area: boton1; }
    header .menu-header .login1,
    header .menu-header .login,
    header .menu-header .registrarse {
      width: 98%;
      color: #c3900d;
      font-family: "Bebas Neue";
      font-size: large; }

/* Aca comienza el Menu Nav */
ul {
  list-style: none;
  color: white;
  font-family: "Bebas Neue";
  font-weight: bold; }
  ul li {
    font-size: 28px;
    padding-left: 38px;
    padding-right: 38px;
    color: white; }

/* Aca comienza  Main-Img Portada-Tabla de Información */
main {
  background-color: #252424; }
  main .portada {
    width: 100%; }
  main table {
    width: 100%;
    text-align: center;
    margin: 0.3rem;
    padding: 0.3rem; }
    main table .tablacontainer {
      width: 150px auto;
      background: #252424; }

/* Aca comienzan Tabla */
tr {
  background: #252424; }
  tr th {
    color: #c3900d;
    font-family: "Bebas Neue";
    margin-left: 200px;
    font-size: x-large;
    justify-content: center; }

/* Aca comienza Contenedor de imagenes */
.contenedorimagenes {
  background-color: #252424;
  width: 100%;
  max-width: 1440px;
  height: 1350px;
  justify-content: space-around;
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "fotobarbaybigote fotoofertas" "fotobarbaybigote fotoapp" "fotoskits fotoapp" "marcas marcas"; }
  .contenedorimagenes .fotobarbaybigote {
    width: 100%;
    grid-area: fotobarbaybigote; }
    .contenedorimagenes .fotobarbaybigote .fotobarbaybigote:hover {
      transform: scale(1.1, 1.1); }
  .contenedorimagenes .fotobarbaybigote:hover {
    transform: scale(1.1, 1.1); }
  .contenedorimagenes .fotoofertas {
    width: 100%;
    grid-area: fotoofertas; }
  .contenedorimagenes .fotoofertas:hover {
    transform: scale(1.1, 1.1); }
  .contenedorimagenes .fotoskits {
    width: 100%;
    grid-area: fotoskits;
    position: relative;
    bottom: 80px; }
  .contenedorimagenes .fotoskits:hover {
    transform: scale(1.1, 1.1); }
  .contenedorimagenes .fotoapp {
    width: 100%;
    grid-area: fotoapp;
    position: relative;
    top: 13px; }
  .contenedorimagenes .fotoskits {
    width: 100%;
    grid-area: fotoskits;
    position: relative;
    bottom: 80px; }
  .contenedorimagenes .marcas {
    width: 200%;
    border: solid;
    color: #c3900d;
    position: relative;
    bottom: 50px;
    left: 5%; }
  .contenedorimagenes .fotobarbaybigote:hover,
  .contenedorimagenes .fotoofertas:hover,
  .contenedorimagenes .fotoskits:hover {
    border: solid white 1px; }

/* Aca comienza Footer/Pie de pagina/Info */
footer {
  background-color: #252424; }
  footer .text-center {
    margin: auto;
    padding: 1rem;
    color: white;
    font-family: "Bebas Neue"; }
    footer .text-center .Quiénessomos {
      color: #c3900d;
      padding: 5px;
      margin: 5px;
      font-size: small;
      margin-left: 10px; }
    footer .text-center .contactenos2 {
      font-family: 'Bebas Neue'; }
    footer .text-center .telefono,
    footer .text-center .email,
    footer .text-center .direccion {
      font-family: "Bebas Neue";
      font-size: medium; }
    footer .text-center .sociales {
      text-align: center; }
    footer .text-center .sociales li {
      display: inline-block; }
    footer .text-center p {
      color: white;
      width: 100%; }

.redes {
  text-align: center;
  margin: auto;
  padding: 1rem;
  position: relative;
  bottom: 30px; }

.sociales {
  text-align: center;
  padding-right: 50px;
  margin: auto; }

.sociales li {
  display: inline-block;
  text-align: center;
  width: 20px;
  padding-left: 25px; }

/* Aca comienzan Formularios de Registro y Log-in */
.formulario {
  width: auto;
  background-color: #c3900d;
  padding: 1px; }
  .formulario form, .formulario form fieldset {
    background-color: #252424;
    margin: 10px;
    padding: 10px; }
    .formulario form fieldset legend {
      color: #c3900d;
      padding: 20px; }
    .formulario form fieldset .sexo,
    .formulario form fieldset .datos,
    .formulario form fieldset .label {
      color: aliceblue; }

/* Trabajo en paginas secundarios + arreglos */
.navaccesorios {
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;
  background-color: #252424; }
  .navaccesorios .accesorios {
    color: beige; }
  .navaccesorios .btn.btn.btn-outline-secondary {
    align-items: center;
    position: absolute;
    right: 60px; }

.paginaenproceso {
  background-image: url(../Fotos/trabajando.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  min-height: 100vh;
  width: 100%; }
  .paginaenproceso .construyendo {
    position: relative;
    top: 260px;
    font-size: 50px;
    font-family: 'Bebas Neue';
    text-align: center;
    color: white; }

.contenedorkits {
  background-color: #252424;
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around; }
  .contenedorkits .kitsfotos {
    border: solid;
    margin: 40px; }

.contenedorbarbaybigote {
  background-color: white;
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around; }
  .contenedorbarbaybigote .barbafotos {
    width: 374px;
    height: 255px;
    margin: 40px; }

.presetnacionesimg {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr); }

/* Aca comienza queries Tablet-768px */
@media screen and (max-width: 768px) {
  header .menu-header {
    grid-template-columns: 1fr;
    grid-template-areas: "boton1" "logoimg1" "login1"; }
  .logoimg2 {
    width: 300px; }
  .boton1 {
    display: none; }
  .login1 {
    width: 100%; }
    .login1 .login,
    .login1 .registrarse {
      font-size: medium; }
  .btn.btn.btn-outline-secondary {
    display: none; }
  .navaccesorios {
    justify-content: center; } }

@media screen and (max-width: 768px) {
  .grancontenedor {
    height: 700px; }
    .grancontenedor .contenedorimagenes {
      height: auto;
      grid-template-columns: auto;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "fotoofertas" "fotoskits"; }
      .grancontenedor .contenedorimagenes .fotoapp,
      .grancontenedor .contenedorimagenes .marcas,
      .grancontenedor .contenedorimagenes .fotobarbaybigote {
        display: none; } }

/* Aca comienza querries Mobile-375px */
@media screen and (max-width: 375px) {
  .login,
  .registrarse {
    font-size: x-small; }
  table {
    display: none; } }

@media screen and (max-width: 375px) {
  .grancontenedor {
    height: 360px; }
    .grancontenedor .contenedorimagenes {
      height: 700px;
      padding: 0px;
      margin: 0px; }
      .grancontenedor .contenedorimagenes .img-ofertas,
      .grancontenedor .contenedorimagenes .img-kits {
        height: auto; }
  .contenedorimagenes.fotoofertas {
    height: 170px; }
  .contenedorimagenes .fotoskits {
    bottom: 192px; } }

@media screen and (max-width: 375px) {
  .accesorios {
    font-size: large; } }

.construyendo {
  font-size: smaller; }

@media screen and (max-width: 375px) {
  .kitsfotos,
  .imgkit {
    width: 320px; } }

@media screen and (max-width: 320px) {
  .contenedorbarbaybigote {
    width: fit-content; }
    .contenedorbarbaybigote .barbafotos,
    .contenedorbarbaybigote .barbafotos1 {
      width: 100%; }
  .contenedorkits {
    width: auto; }
    .contenedorkits .imgkit {
      width: 250px; }
  .contactenos {
    width: 200px; }
  .contactenos2 {
    margin: 10px;
    padding: 20px; }
  h3 {
    margin: 15px;
    padding: 10px; }
  .marcatiendabaron {
    width: 100%;
    margin: 5px;
    padding: 5px; } }
