/* Aca comienza Footer/Pie de pagina/Info */
footer {
    background-color: rgb(37, 36, 36);

    .text-center {
        margin: auto;
        padding: 1rem;
        color: $colorblanco;
        font-family: $letrabaron;

        .Quiénessomos {
            color: $colordorado;
            padding: 5px;
            margin: 5px;
            font-size: small;
            margin-left: 10px;
        }

        .contactenos2 {
            font-family: 'Bebas Neue'
        }

        .telefono,
        .email,
        .direccion {
            font-family: $letrabaron;
            font-size: medium;
        }

        p {
            color: $colorblanco;
            width: 100%;
        }
    }
}

.redes {
    @extend .text-center;
    text-align: center;
    position: relative;
    bottom: 30px;

    .facebook {
        width: 35px;
        height: 35px;
    }

    .instagram {
        width: 40px;
        height: 40px;
    }
}

.sociales {
    text-align: center;
    padding-right: 50px;
    margin: auto;
}

.sociales li {
    display: inline-block;
    text-align: center;
    width: 20px;
    padding-left: 25px;

}

h6 {
    text-align: center;
    color: grey;
    margin-left: 25px;
}