/* Aca comienza Footer/Pie de pagina/Info */
footer {
    background-color: rgb(37, 36, 36);

    .text-center {
        margin: auto;
        padding: 1rem;
        color: white;
        font-family: $letrabaron;

        .Quienessomos {
            color: $colordorado;
            padding: 5px;
            margin: 5px;
            font-size: small;
            margin-left: 10px;
        }

        .contactenos2 {
            font-family: 'Bebas Neue'
        }

        .telefono,
        .email,
        .direccion {
            font-family: $letrabaron;
            font-size: medium;
        }

        p {
            color: white;
            width: 100%;
        }

        
    }

}