/* Aca comienzan Formularios de Registro y Log-in */


.formulario {
	width: auto;
	background-color: $colordorado;

	form {
		background-color: $coloroscuro;
		margin: 10px;
		padding: 10px;

		fieldset {
			background-color: $coloroscuro;
			padding: 10px;

			legend {
				color: $colordorado;
				padding: 20px;
			}

			.sexo,
			.datos {
				color: aliceblue;
			}

			label {
				color: white;
			}

		}

	}
}