/* Aca comienzan Formularios de Registro y Log-in */


.formulario {
	width: auto;
	background-color: $colordorado;
	padding: 1px;


	form {
		background-color: $coloroscuro;
		margin: 10px;
		padding: 10px;

		fieldset {
			@extend form;
			min-height: 100vh;


			legend {
				color: $colordorado;
				padding: 20px;
			}

			.sexo,
			.datos,
			.label {
				color: aliceblue;
			}

			video {
				position: relative;
				left: 700px;
				bottom: 600px;

			}

			.videologin {
				bottom: 200px;
			}
		}
	}
}