header {
  background-color: $coloroscuro;
  .menu-header {
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "boton1 logoimg1 login1";
    .boton1, .logoimg {
      width: 100%;
    }
  
    .buscar {
      grid-area: boton1;
    }
  
    .login1,
    .login,
    .registrarse {
      width: 98%;
      color: $colordorado;
      font-family: $letrabaron;
      font-size: large;
    }
 }
}


/* Aca comienza el Menu Nav */

ul {
  list-style: none;
  color: white;
  font-family: $letrabaron;
  font-weight: bold;

  li {
    font-size: 28px;
    padding-left: 38px;
    padding-right: 38px;
    color: white;
  }
}