/* Aca comienza  Main-Img Portada-Tabla de Información */

main {
    background-color: $coloroscuro;

    .portada {
        width: 100%;
    }

    table {
        width: 100%;
        text-align: center;
        margin: 0.3rem;
        padding: 0.3rem;

        .tablacontainer {
            width: 150px auto;
            background: $coloroscuro;
        }
    }
}

/* Aca comienzan Tabla */

tr {
    background: $coloroscuro;

    th {
        color: $colordorado;
        font-family: $letrabaron;
        margin-left: 200px;
        font-size: x-large;
        justify-content: center;
    }
}

/* Aca comienza Contenedor de imagenes */

.contenedorimagenes {
    background-color: $coloroscuro;
    width: 100%;
    max-width: 1440px;
    height: 1350px;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "fotobarbaybigote fotoofertas"
        "fotobarbaybigote fotoapp"
        "fotoskits fotoapp"
        "marcas marcas";

    .fotobarbaybigote {
        width: 100%;
        height: 527px;
        grid-area: fotobarbaybigote;

        .fotobarbaybigote:hover {
            transform: scale(1.1, 1.1);
        }
    }

    .fotobarbaybigote:hover {
        transform: scale(1.1, 1.1);
    }

    .fotoofertas {
        width: 100%;
        grid-area: fotoofertas;
    }

    .fotoofertas:hover {
        transform: scale(1.1, 1.1);
    }

    .fotoskits {
        width: 100%;
        grid-area: fotoskits;
        position: relative;
        bottom: 80px;
    }

    .fotoskits:hover {
        transform: scale(1.1, 1.1);
    }

    .fotoapp {
        width: 100%;
        grid-area: fotoapp;
        position: relative;
        top: 13px;
    }

    .fotoskits {
        width: 100%;
        grid-area: fotoskits;
        position: relative;
        bottom: 80px;

    }

    .marcas {
        width: 200%;
        border: solid;
        color: $colordorado;
        position: relative;
        bottom: 50px;
        left: 5%;
    }

    .fotobarbaybigote:hover,
    .fotoofertas:hover,
    .fotoskits:hover {
        border: solid white 1px;
    }
}