/* Trabajo en paginas secundarios + arreglos */
.navaccesorios {
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
    background-color: $coloroscuro ;

    .accesorios {
        color: beige;
    }

    .btn.btn.btn-outline-secondary {
        align-items: center;
        position: absolute;
        right: 60px;
    }
}

.paginaenproceso {
    background-image: url(../Fotos/trabajando.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    min-height: 100vh;
    width: 100%;


    .construyendo {
        position: relative;
        top: 260px;
        font-size: 50px;
        font-family: 'Bebas Neue';
        text-align: center;
        color: $colorblanco;
    }
}

@mixin contenedorproductos ($color) {
    background-color: $color;
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contenedorkits {
    @include contenedorproductos($coloroscuro);

    .kitsfotos {
        border: solid;
        margin: 40px;
    }
}

.contenedorbarbaybigote {
    @include contenedorproductos($colorblanco);

    .barbafotos {
        width: 374px;
        height: 255px;
        margin: 40px;
    }
}

.presetnacionesimg {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}