* {
    margin: 0;
    padding: 0;
}

/* VARIABLES */
$colordorado: rgb(195, 144, 13);
$coloroscuro: rgb(37, 36, 36);
$colorblanco:white;
$letrabaron: 'Bebas Neue';


@import "headermenunav";
@import "main";
@import "footer";
@import "formularios";
@import "paginassecundarias";
@import "queries";