

* {
    margin: 0;
    padding: 0;
}

/* VARIABLES */
@import "headermenunav";
@import "main";
@import "footer" ;


/* Aca comienzan Formularios de Registro y Log-in */


.formulario {
	width:auto;
	background-color: #c3900d;
	form {
		background-color: #252424;
		margin: 10px;
		padding: 10px;
	}
}


.fieldset  {
    background-color: rgb(195, 144, 13);
    padding: 10px; }
    

legend {
    color: rgb(195, 144, 13);
    padding: 20px; }

.sexo, .datos {
    color: aliceblue;
    
}
label {
    color: white;
}


/* Aca comienza Footer/Pie de pagina/Info */

 .Quienesomos {
        color: rgb(195, 144, 13);
        padding: 5px;
        margin: 5px;
        font-size: small;
        margin-left: 10px;
    }
    h3 {
        color: white;
        padding: 30px;
        margin: 20px;
        font-family: 'Bebas Neue';
    }
    .text-center {
        margin: auto;
        padding: 1rem;
    }
    p {
        color: white;
        width: 100%;
    }
    .contactenos2 {
        font-family: 'Bebas Neue'
    }
    .telefono, .email, .direccion {
        font-family: none;
    }


/* Trabajo en paginas secundarios + arreglos */
.navaccesorios{
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
    background-color: rgb(37, 36, 36);
    .accesorios {
        color: beige;
    }
    .btn.btn-outline-secondary  {
        align-items: center;
        position: absolute;
        right: 60px;
    }
}


.paginaenproceso {
    height: 300px;
    background-color: rgb(195, 144, 13);
    align-items: center;
    .construyendo {
        position: relative;
        top: 100px;   
    }   
}

h2 {
    font-family: 'Bebas Neue';
    text-align: center;
    margin: 8%;
}


.contenedorkits {
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(195, 144, 13);
    .kitsfotos {
        border: solid;
        margin: 40px;
    }
}



.contenedorbarbaybigote {
    background-color: white;
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    .barbafotos {
        width: 374px;
        height: 255px;
        margin: 40px;
    }
}

.presetnacionesimg {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}


/* Aca comienza querries Tablet-768px */


@media screen and (max-width:768px) {
    header  .menu-header {
        grid-template-columns: 1fr;
        grid-template-areas:
            "boton1"
            "logoimg1"
            "login1"

        }

    .logoimg2 {
        width: 300px;
    }

    .boton1 {
        display: none;
    }

    .login1 {
        width: 100%;
    }

    .login, .registrarse {
        font-size: medium;
    }
}

    .btn.btn-outline-secondary {
        display: none;
    }

    .navaccesorios {
        justify-content: center;
    }

@media screen and (max-width:768px) {
    .contenedorimagenes {
        height: 620px;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "fotoofertas"
            "fotoskits";
            .fotoapp,
            .marcas,
            .fotobarbaybigote {
                display: none;
            }
        }
}


/* Aca comienza querries Mobile-375px */

@media screen and (max-width:375px) {
   
    .login,
    .registrarse {
        font-size: x-small;
    }

    table  {
        display: none;
    }

}

@media screen and (max-width:375px) {
    .grancontenedor {
        height: 360px;
    }

    .contenedorimagenes {
        height: auto;
        padding: 0px;
        margin: 0px;
    }

    .img-ofertas {
        height: auto  
    }
    .img-kits {
        height: auto
        
    }

    .contenedorimagenes.fotoofertas {
        height: 170px;
    }
    
    .contenedorimagenes .fotoskits {
        bottom: 192px
        
    }
}

@media screen and (max-width:375px) {
    .accesorios {
        font-size: medium;
    }
}

@media screen and (max-width:375px) {
    .kitsfotos,
    .imgkit {
        width: 320px;
    }
}

@media screen and (max-width:320px) {
    .contenedorbarbaybigote {
        width: fit-content;
    }

    .barbafotos,
    .barbafotos1 {
        width: 100%;
    }

    .contenedorkits {
        width: auto;
    }


    .imgkit {
        width: 250px;
    }

    .contactenos {
        width: 200px;
    }

    .contactenos2 {
        margin: 10px;
        padding: 20px;
    }

    .h3 {
        margin: 15px;
        padding: 10px;
    }

    .marcatiendabaron {
        width: 100%;
        margin: 5px;
        padding: 5px;
    } 
}

